<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Job0.9</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>studentServlet.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logincheck</display-name>
    <servlet-name>Logincheck</servlet-name>
    <servlet-class>systemServlet.Logincheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logincheck</servlet-name>
    <url-pattern>/Logincheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllJobs</display-name>
    <servlet-name>QueryAllJobs</servlet-name>
    <servlet-class>systemServlet.QueryAllJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllJobs</servlet-name>
    <url-pattern>/QueryAllJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryJobs</display-name>
    <servlet-name>QueryJobs</servlet-name>
    <servlet-class>administratorServlet.QueryJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryJobs</servlet-name>
    <url-pattern>/QueryJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassJobs</display-name>
    <servlet-name>PassJobs</servlet-name>
    <servlet-class>administratorServlet.PassJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassJobs</servlet-name>
    <url-pattern>/PassJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findJobby</display-name>
    <servlet-name>findJobby</servlet-name>
    <servlet-class>studentServlet.findJobby</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findJobby</servlet-name>
    <url-pattern>/findJobby</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findapplystate</display-name>
    <servlet-name>findapplystate</servlet-name>
    <servlet-class>studentServlet.findapplystate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findapplystate</servlet-name>
    <url-pattern>/findapplystate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeInfo</display-name>
    <servlet-name>changeInfo</servlet-name>
    <servlet-class>studentServlet.changeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeInfo</servlet-name>
    <url-pattern>/changeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishJob</display-name>
    <servlet-name>PublishJob</servlet-name>
    <servlet-class>enterpriceServelt.PublishJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishJob</servlet-name>
    <url-pattern>/PublishJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QDeleteJobs</display-name>
    <servlet-name>QDeleteJobs</servlet-name>
    <servlet-class>enterpriceServelt.QDeleteJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QDeleteJobs</servlet-name>
    <url-pattern>/QDeleteJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryJobByPublish</display-name>
    <servlet-name>QueryJobByPublish</servlet-name>
    <servlet-class>enterpriceServelt.QueryJobByPublish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryJobByPublish</servlet-name>
    <url-pattern>/QueryJobByPublish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sendjianli</display-name>
    <servlet-name>Sendjianli</servlet-name>
    <servlet-class>studentServlet.Sendjianli</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sendjianli</servlet-name>
    <url-pattern>/Sendjianli</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QrecevieJL</display-name>
    <servlet-name>QrecevieJL</servlet-name>
    <servlet-class>enterpriceServelt.QrecevieJL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QrecevieJL</servlet-name>
    <url-pattern>/QrecevieJL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addstudent</display-name>
    <servlet-name>Addstudent</servlet-name>
    <servlet-class>systemServlet.Addstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addstudent</servlet-name>
    <url-pattern>/Addstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addenterprice</display-name>
    <servlet-name>Addenterprice</servlet-name>
    <servlet-class>systemServlet.Addenterprice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addenterprice</servlet-name>
    <url-pattern>/Addenterprice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllAplyUsers</display-name>
    <servlet-name>QueryAllAplyUsers</servlet-name>
    <servlet-class>administratorServlet.QueryAllAplyUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllAplyUsers</servlet-name>
    <url-pattern>/QueryAllAplyUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassStudents</display-name>
    <servlet-name>PassStudents</servlet-name>
    <servlet-class>administratorServlet.PassStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassStudents</servlet-name>
    <url-pattern>/PassStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassEnterprices</display-name>
    <servlet-name>PassEnterprices</servlet-name>
    <servlet-class>administratorServlet.PassEnterprices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassEnterprices</servlet-name>
    <url-pattern>/PassEnterprices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchJobs</display-name>
    <servlet-name>SearchJobs</servlet-name>
    <servlet-class>systemServlet.SearchJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchJobs</servlet-name>
    <url-pattern>/SearchJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckStudentuid</display-name>
    <servlet-name>CheckStudentuid</servlet-name>
    <servlet-class>systemServlet.CheckStudentuid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckStudentuid</servlet-name>
    <url-pattern>/CheckStudentuid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddChatInfo</display-name>
    <servlet-name>AddChatInfo</servlet-name>
    <servlet-class>systemServlet.AddChatInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddChatInfo</servlet-name>
    <url-pattern>/AddChatInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecevieInfo</display-name>
    <servlet-name>RecevieInfo</servlet-name>
    <servlet-class>systemServlet.RecevieInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecevieInfo</servlet-name>
    <url-pattern>/RecevieInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckQuestion</display-name>
    <servlet-name>CheckQuestion</servlet-name>
    <servlet-class>enterpriceServelt.CheckQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckQuestion</servlet-name>
    <url-pattern>/CheckQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Temp</display-name>
    <servlet-name>Temp</servlet-name>
    <servlet-class>systemServlet.Temp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Temp</servlet-name>
    <url-pattern>/Temp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Downjianli</display-name>
    <servlet-name>Downjianli</servlet-name>
    <servlet-class>enterpriceServelt.Downjianli</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Downjianli</servlet-name>
    <url-pattern>/Downjianli</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryJobByPage</display-name>
    <servlet-name>QueryJobByPage</servlet-name>
    <servlet-class>systemServlet.QueryJobByPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryJobByPage</servlet-name>
    <url-pattern>/QueryJobByPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Youkelogin</display-name>
    <servlet-name>Youkelogin</servlet-name>
    <servlet-class>systemServlet.Youkelogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Youkelogin</servlet-name>
    <url-pattern>/Youkelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findjobsbytiaojian</display-name>
    <servlet-name>findjobsbytiaojian</servlet-name>
    <servlet-class>systemServlet.findjobsbytiaojian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findjobsbytiaojian</servlet-name>
    <url-pattern>/findjobsbytiaojian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>APIfindjobs</display-name>
    <servlet-name>APIfindjobs</servlet-name>
    <servlet-class>systemServlet.APIfindjobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>APIfindjobs</servlet-name>
    <url-pattern>/APIfindjobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QresponseJL</display-name>
    <servlet-name>QresponseJL</servlet-name>
    <servlet-class>enterpriceServelt.QresponseJL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QresponseJL</servlet-name>
    <url-pattern>/QresponseJL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>administratorService.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
</web-app>